<main>
    <div class="row">
    <div class="col s12">
      <div>
        <h2>Build a Burger</h2>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="ex. Cheese Burger" id="burger_name" type="text" class="validate">
              <label for="first_name">Burger Name</label>
            </div>
            <div class="input-field col s6">
              <button class="waves-effect waves-light btn" type="button">Build Your Burger</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col s12 m6">
      <div>
        <h2>Eat a Burger</h2>
        <table class="striped">
          <thead>
            <tr>
                <th>Burger Name</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each hamburger}}

            
            {{#unless eaten}}
              <tr>
                  <td>{{name}}</td>
                  <td class="right-align">
                    <a class="waves-effect waves-light btn" data-id="{{id}}">Eat!</a>
                  </td>
              </tr>            
            {{/unless}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col s12 m6">
      <div>
        <h2>Eaten Burgers</h2>
        <table class="striped">
          <thead>
            <tr>
                <th>Burger Name</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each hamburger}}
            {{#if eaten}}
              <tr>
                  <td>{{name}}</td>
                  <td class="right-align">
                    <a class="waves-effect waves-light btn disabled" data-id="{{id}}">Eaten</a>
                  </td>
              </tr>            
            {{/if}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>   
</main>

